* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7s;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, arial, sans-serif;
    background: #2f2f3a;
    height: 8vh;
}

main {
    background: url("img/jefferson-santos-9SoCnyQmkzI-unsplash.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
}

.nav-list {
    cursor: pointer;
    list-style: none;
    display: flex;
}

.nav-list li {
    color: #fff;
    letter-spacing: 3px;
    margin-left: 32px;
}

.text {
    color: white;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 18pt;
    text-align: center;
    padding-top: 13%;
    text-transform: uppercase;
}

h1:hover {
    color: rgb(0, 0, 0);
    transition: 0.5s all;
}

.btns {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btns button {
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2px;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
}

.btns button:hover {
    color: black;
    border: none;
}

.btns button:before {
    content: ' ';
    border: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 60px;
    background-color: rgb(61, 61, 61);
    z-index: -1;
    transition: 1s;
}

.btns button:houver:before {
    width: 100%;
}

.container {
    text-align: center;
    cursor: pointer;
}

.menu1 {
    font-family: system-ui, -apple-system, Helvetica, arial, sans-serif;
    background-color: #2f2f3a;
    color: white;
    text-transform: uppercase;
    padding-top: 20px;
}

.menu1 h1 {
    font-size: 30pt;
}

.menu1 p {
    padding-top: 10px;
    font-size: 15pt;
}

p:hover {
    color: rgb(255, 217, 0);
    transition: 0.5s all;
}

.menu2 {
    font-family: system-ui, -apple-system, Helvetica, arial, sans-serif;
    background-color: #2f2f3b;
    color: white;
    text-transform: uppercase;
    padding-top: 20px;
}

.menu2 p {
    padding: 3px;
}

footer {
    text-align: center;
}

.nome {
    cursor: pointer;
    height: 100px;
    font-family: system-ui, -apple-system, Helvetica, arial, sans-serif;
    background-color: #2d2d36;
    padding-top: 50px;
    color: white;

}
